.nav-menu {
  text-align: right;
}
.nav-spacing {
  margin: 0 0 0 10px;
} 
.image-link{
  text-decoration: none; 
}
.header-style{
  text-align: center;
}
.image-block{
  display: block; margin: 0 auto;
}
.blue-div{
  width: 560px;
  margin: 20px auto;
  padding: 30px;
  background-color: #94C6F2;
}
.blockquote-style{
  font-style: italic;
  font-size: 20px;
}